body {
    background-color: #000000;
    text-align: center;
  }
  
  a {
    color: #899bd6
  }

  h1 {
    padding-top:100px;
    text-align: center;
    font-family: blenny, sans-serif;
    font-style: normal;
    font-size: calc(100px + 0.1vw);
    color: #cc4030;
    text-shadow: 1px 1px #304678, 2px 2px #304678, 3px 3px #304678;
  }

  h2 {
    text-align: center;
    font-family: ohno-blazeface, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: calc(60px + 0.1vw);
    color: #c15540;
    margin-top: 2em;
    text-shadow: 1px 1px #f2a213, 1px 1px #f2a213, 1px 1px #f2a213;

  }
  
  .text {
      text-align: left;
      color: #d0c0b8;
      font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
      font-size: calc(16px + 0.1vw);
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 10px;
  }

  .text iframe{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 90%;
  }


  .social {
    height: 3em;
    width: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2.5em;

}
    

.social:hover {
    -webkit-filter : hue-rotate(100deg);
    filter : hue-rotate(000deg);
}
        


/* .sqwig {
    max-width: 200px;
} */

  #li_title {
    font-size: calc(18px + 0.1vw);
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #f2a213;
    padding-top: 10px;
    padding-bottom: 2px;
  }
  

  


  #parallax_section {
      transform-style: preserve-3d;
      perspective: 100px;
      height: 100vh;
      overflow-x: hidden;
        overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;

  }
  
  #parallax__text{
      text-align: center;
      margin-top: 120px;
      max-width: 100%;
      height: auto;
      padding: 20px;
      z-index: 1;
      display: block;
  }
  
  .parallax__layer{
      position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -1600px;
  }
  
  .parallax__cover{
      background: #304678;
      position: absolute;
      display: block;
      min-height: 200vh;
        top: 100%;
        left: 0;
      right: 0;
  }
  
  
   .parallax__layer__background{
       transform: scale(2.0);
       z-index: -2;
   }
  
   .parallax__layer__b{
       transform: translateZ(-150px) scale(3.8);
       z-index: -1;

  } 

  .parallax__layer__0{
       transform: translateZ(-100px) scale(2.6);
   }
  
  .parallax__layer__1{
       transform: translateZ(-40px) scale(2.1);
   }
  
  .parallax__layer__2{
       transform: translateZ(0) scale(1.4);
   }



